html,body{
  min-height: 100%;
  background-color: #89B6E3;
}

.bg-customblue{
  background-color: #89B6E3;
}
.pl-10vw{
  padding-left: 10vw;
}
.pl-40vw{
  padding-left: 40vw;
}

.h-1px{
  height: 1px;
}

.bg-customgray{
  background-color: #E9E9E9;
}

.bg-customdarkgray{
  background-color: #D9D9D9;
}

.bg-customlightgray{
  background-color: #F4F4F4;
  border-radius: 10px;
}

/* signin page */
.signin{
    
  background-color: #E9E9E9;
  height: 50vw;


}
.loginbox{
  background-color: white;
  border: 1px solid;
  border-radius: 30px;
  width:50%;
  height:70%;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.195);
}



.login{
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.inputbox{
  background-color: #D9D9D9;
  height: 30%;
  width:40%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.forget-orange{
  color: #E27B1C;
}

.loginbutton{
  background-color: #89B6E3;
  width: fit-content;
  height: 52px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  font-family: 'Poppins';
  border-radius: 10px;
}



/* end of signin page*/ 
.fz-24{
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: black;
}
.fz-48{
  font-size:48px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
input[type=text]{
    padding: 12px 20px;
}


.fz-16{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: black;
}

.line{
  height:1px;
  background-color: white;
  width:80%;
}

.poppin{
  font-size: 16px;
  font-family: 'Poppins';
}


/* cart page */
.cartcontainer{
  width: 70%;
  height: fit-content;
  

}

.cartitems{
  background-color: white;
  border: 1px solid;
  border-radius: 30px;
  justify-content: center;
  flex: 1;
  display: flex;
  height: fit-content;
  margin-top: 4vw;
  padding: 2vw;
  float: left;
  width:fit-content;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.195);
}

.ordersummary{
  background-color: white;
  border: 1px solid;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: fit-content;
  margin-top: 4vw;
  margin-left: 10vw;
  padding-top: 3vw;
  padding-bottom: 5vw;
  height: 100px;
  width:40%;
  flex: 0 0 30%;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.195);
}



.decrease{
  
  background-color: #d9d9d94b;
  width:40px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 1.5px 1.5px rgba(0, 0, 0, 0.195);
}

.increase{
  
  background-color: #d9d9d94b;
  width:40px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 1.5px 1.5px rgba(0, 0, 0, 0.195);
}
.price{
  overflow: hidden;
  white-space: nowrap;
}

.w-fit{
  width: fit-content;
}

.ms-n1{
  margin-left:-0.5rem;
}

.w-70{
  width: 70%;
}



.aboutusbox{
  background-color: #D9D9D9;
}

.cartbox{
  background-color: white;
  border: 1px solid;
  border-radius: 30px;
  width:fit-content;
  height:fit-content;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.195);
  padding-top: 20px;
  padding-bottom: 20px;
}

.ordersummarybox{
  background-color: white;
  border: 1px solid;
  border-radius: 30px;
  height: fit-content;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.195);
}


.adminbox{
  background-color: white;
  border: 1px solid;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.195);
}

/* product management */
body {
  color: #404e67;
  background: #f5f7fa;
  font-family: "Open Sans", sans-serif;
}
.table-title {
  padding-bottom: 10px;
  margin: 0 0 10px;
}
.table-title h2 {
  margin: 6px 0 0;
  font-size: 22px;
}
.table-title .add-new {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
}
.table-title .add-new i {
  margin-right: 4px;
}
table.table {
  table-layout: fixed;
}
table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
}
table.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table th:last-child {
  width: 100px;
}
table.table td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
}
table.table td a.add {
  color: #27c46b;
}
table.table td a.edit {
  color: #ffc107;
}
table.table td a.delete {
  color: #e34724;
}
table.table td i {
  font-size: 19px;
}
table.table td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
}
table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
}
table.table .form-control.error {
  border-color: #f50000;
}
table.table td .add {
  display: none;
}

/* search */

ul.clearfix {
  list-style: none;
  margin-left: 218px;
}

.fl {
  float: left !important;
}

#contactBox ul li {
  margin-right: 20px;
}

#form dl {
  margin-bottom: 10px;
  overflow: hidden;
}
#form dl dt {
  float: left;
}
#form dl dd span {
  font-size: 12px;
  padding-left: 5px;
}

#line  {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
  padding: 0;
}


.mb30 {
  margin-bottom: 30px !important;
}

dd {
  display: block;
  margin-inline-start: 40px;
  unicode-bidi: isolate;
}

#subContents dl.first {
  border-top: #efefef 1px solid;
  margin-bottom: 1px;
}
#subContents dl {
  height: 46px;
  border-bottom: #efefef 1px solid;
  overflow: hidden;
  margin-bottom: 1px;
}

#subContents dl dt,
#subContents dl dd {
  font-size: 12px;
}
#subContents dl dt {
  background: #efefef;
  width: 240px;
  height: 50px;
}
#subContents dl dt {
  padding-left: 25px;
  line-height: 4;
}
#subContents dl dd {
  padding-left: 8px;
  margin-right: 45px;
}
#subContents dl dd {
  padding-left: 10px;
  margin-right: 0;
}

#subContents {
  margin-left: 40px;
}

.catTtl {
  border-bottom: #EFEFEF 1px solid;
  margin-top: 20px;
  margin-left: 20px;  
  margin-bottom: 0;
  padding-bottom: 15px;
}

.note{
  margin-top: 15px;
}

#form .btnSearch {
  background: #89B6E3;
  border: medium none;
  color: #000;
  cursor: pointer;
  height: 40px;
  width: 420px;
  border-radius: 0;
}

#form .btnClear {
  background: #CCCCCC;
  border: medium none;
  color: #000;
  cursor: pointer;
  height: 40px;
  width: 140px;
  border-radius: 0;
}

input[type="submit"], input[type="button"] {
  padding: 3px 10px;
  border-radius: 0;
}

#form .categorySearchSelect{
  width: 420px;
  height: 25px;
  border-bottom: #CCC 1px solid;
  margin: 10px 0 0 10px;
}

#form .selectBox {
  width: 100px;
  height: 25px;
  border-bottom: #CCC 1px solid;
  margin: 10px 0 0 10px;
}

#form input[type="text"], #form input[type="email"] {
  width: 420px;
  margin: 10px 0 0 10px;
  height: 25px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea {
  border: 1px solid #ccc;
  padding: 2px;
  background: #fff;
  border-radius: 0;
}

input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 15px;
  padding: initial;
  border: initial;
}

#wrap{
  padding-left: 14px;
  padding-right: 14px;
}

#contactBox{
  padding-right: 20px;
}

.graytext{
  color:gray;
}
