
.bg-customblue{
  background-color: #89B6E3;
}
.pl-10vw{
  padding-left: 10vw;
}
.pl-40vw{
  padding-left: 40vw;
}

.h-1px{
  height: 1px;
}

.bg-customgray{
  background-color: #E9E9E9;
}


/* signin page */
.signin{
    
  background-color: #E9E9E9;
  width: 100%;
  height: 40vw;
  align-items: center;
  align-content: center;
}
.signinbox{
  background-color: white;
  border: 1px solid;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  height:80%;
  width:40%;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%,-50%);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.195);
}
.signincontent{
  padding: 5px;
}

.login{
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.inputbox{
  background-color: #D9D9D9;
  height: 75px;
  width:470px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.rememberme{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Poppins", san;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.rememberme input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.rememberme:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.rememberme input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.rememberme input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.forget-orange{
  color: #E27B1C;
}

.loginbutton{
  background-color: #89B6E3;
  width: fit-content;
  height: 52px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  font-family: 'Poppins';
  border-radius: 10px;
}



/* end of signin page*/ 
.fz-24{
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.fz-48{
  font-size:48px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
input[type=text]{
    padding: 12px 20px;
}


.fz-16{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.line{
  height:1px;
  background-color: white;
  width:80%;
}

.poppin{
  font-size: 16px;
  font-family: 'Poppins';
}


/* cart page */
.cartcontainer{
  width: 70%;
  height: fit-content;
  

}

.cartitems{
  background-color: white;
  border: 1px solid;
  border-radius: 30px;
  justify-content: center;
  flex: 1;
  display: flex;
  height: fit-content;
  margin-top: 4vw;
  padding: 2vw;
  float: left;
  width:fit-content;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.195);
}

.ordersummary{
  background-color: white;
  border: 1px solid;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: fit-content;
  margin-top: 4vw;
  margin-left: 10vw;
  padding-top: 3vw;
  padding-bottom: 5vw;
  height: 100px;
  width:40%;
  flex: 0 0 30%;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.195);
}

.quantity{
  
}

.decrease{
  
  background-color: #d9d9d94b;
  width:40px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 1.5px 1.5px rgba(0, 0, 0, 0.195);
}

.increase{
  
  background-color: #d9d9d94b;
  width:40px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 1.5px 1.5px rgba(0, 0, 0, 0.195);
}
.price{
  overflow: hidden;
  white-space: nowrap;
}

.w-fit{
  width: fit-content;
}

.ms-n1{
  margin-left:-0.5rem;
}

.w-70{
  width: 70%;
}

.footer-container {
  max-width: 1200px; /* Set maximum width for centering */
  margin: 0 auto; /* Center the content */
}