html,body{
  min-height: 100%;
  background-color: #89B6E3;
}


.bg-customblue{
  background-color: #89B6E3;
}
.pl-10vw{
  padding-left: 10vw;
}
.pl-40vw{
  padding-left: 40vw;
}

.h-1px{
  height: 1px;
}

.bg-customgray{
  background-color: #E9E9E9;
}

.bg-customdarkgray{
  background-color: #D9D9D9;
}

/* signin page */
.signin{
    
  background-color: #E9E9E9;
  height: 50vw;


}
.loginbox{
  background-color: white;
  border: 1px solid;
  border-radius: 30px;
  width:50%;
  height:70%;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.195);
}



.login{
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.inputbox{
  background-color: #D9D9D9;
  height: 30%;
  width:40%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.forget-orange{
  color: #E27B1C;
}

.loginbutton{
  background-color: #89B6E3;
  width: fit-content;
  height: 52px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  font-family: 'Poppins';
  border-radius: 10px;
}



/* end of signin page*/ 
.fz-24{
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.fz-48{
  font-size:48px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
input[type=text]{
    padding: 12px 20px;
}


.fz-16{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.line{
  height:1px;
  background-color: white;
  width:80%;
}

.poppin{
  font-size: 16px;
  font-family: 'Poppins';
}


/* cart page */
.cartcontainer{
  width: 70%;
  height: fit-content;
  

}

.cartitems{
  background-color: white;
  border: 1px solid;
  border-radius: 30px;
  justify-content: center;
  flex: 1;
  display: flex;
  height: fit-content;
  margin-top: 4vw;
  padding: 2vw;
  float: left;
  width:fit-content;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.195);
}

.ordersummary{
  background-color: white;
  border: 1px solid;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: fit-content;
  margin-top: 4vw;
  margin-left: 10vw;
  padding-top: 3vw;
  padding-bottom: 5vw;
  height: 100px;
  width:40%;
  flex: 0 0 30%;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.195);
}



.decrease{
  
  background-color: #d9d9d94b;
  width:40px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 1.5px 1.5px rgba(0, 0, 0, 0.195);
}

.increase{
  
  background-color: #d9d9d94b;
  width:40px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 1.5px 1.5px rgba(0, 0, 0, 0.195);
}
.price{
  overflow: hidden;
  white-space: nowrap;
}

.w-fit{
  width: fit-content;
}

.ms-n1{
  margin-left:-0.5rem;
}

.w-70{
  width: 70%;
}



.aboutusbox{
  background-color: #D9D9D9;
}

.cartbox{
  background-color: white;
  border: 1px solid;
  border-radius: 30px;
  width:fit-content;
  height:fit-content;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.195);
  padding-top: 20px;
  padding-bottom: 20px;
}

.ordersummarybox{
  background-color: white;
  border: 1px solid;
  border-radius: 30px;
  height: fit-content;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.195);
}


.adminbox{
  background-color: white;
  border: 1px solid;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.195);
}

/* product management */
body {
  color: #404e67;
  background: #f5f7fa;
  font-family: "Open Sans", sans-serif;
}
/* .table-wrapper {
  width: 700px;
  margin: 30px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
} */
.table-title {
  padding-bottom: 10px;
  margin: 0 0 10px;
}
.table-title h2 {
  margin: 6px 0 0;
  font-size: 22px;
}
.table-title .add-new {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
}
.table-title .add-new i {
  margin-right: 4px;
}
table.table {
  table-layout: fixed;
}
table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
}
table.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table th:last-child {
  width: 100px;
}
table.table td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
}
table.table td a.add {
  color: #27c46b;
}
table.table td a.edit {
  color: #ffc107;
}
table.table td a.delete {
  color: #e34724;
}
table.table td i {
  font-size: 19px;
}
table.table td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
}
table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
}
table.table .form-control.error {
  border-color: #f50000;
}
table.table td .add {
  display: none;
}
